<youtube-header
  (outShowCards)="showCards($event)"
  (outShowFilterBlock)="showFilterBlock($event)"
></youtube-header>
<youtube-search-item
  [showFilterBlock]="parentFilterCards"
  (outDate)="filterDate($event)"
  (outView)="filterView($event)"
  (outWord)="filterWord($event)"
></youtube-search-item>
<youtube-search-results *ngIf="parentShowCards !== ''"
  [showCards]="parentShowCards"
  [filterDate]="parentDate"
  [filterView]="parentView"
  [filterWord]="parentWord"
></youtube-search-results>

<router-outlet></router-outlet>
