.search {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #E5E5E5;
}
:host img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    cursor: pointer;
}
:host .form_field {
    display: flex;
    width: 400px;
    height: 24px;
}
:host .mat-mdc-form-field ::ng-deep div{
    padding: 0px;
    height: 24px;
}
:host #mat-input-0{
    width: 400px;
    height: 24px;
    background-color: #EFEFEF;
    color: #929292;
    padding: 0px 13px;
    border: none;
}
:host button {
    color: #FFFFFF;   
    background-color: #2F80ED;
    box-shadow: 2px 0px 4px 0px #2F80ED;
    flex-shrink: 0;
    border-radius: 0px 4px 4px 0px;
    width: 80px;
    height: 24px;
}
:host .tune {
    margin-left: 10px;
    width: 24px;
    height: 24px;
    padding: 0px;
    border-radius: 4px;
    min-width: 24px;
    border: none;
}
:host button img {
    margin: -2px;
    width: 14px;
    height: 14px;
}
:host raised-button {
    color: #FFFFFF;   
    background-color: #5EA2FF;
}
