:host button{
    background-color: #2F80ED;
    border: none;
    color: #FFFFFF;
    box-shadow: 2px 0px 4px 0px #2F80ED;
    flex-shrink: 0;
    border-radius: 4px;
    width: 80px;
    height: 24px;
}